body{
    margin: 0;
    padding: 0;
}

section.zoom{
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    background: url(bg.jpg);
    background-size: cover;
}

section.zoom::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
    background: linear-gradient(transparent, #fff);
}

section.zoom .layer1{
    position: absolute;
    /* top: 0; */
    left: 40%;
    width: 100%;
    transform: translateX(-50%);
}

section.zoom .layer2{
    position: absolute;
    /* top: 0; */
    right: 0;
    width: 100%;
}

section.zoom .text{
    position: absolute;
    /* top: 0; */
    right: 0;
    width: 100%;
    transform: translateY(50%);
}

section.content{
    padding: 100px;
    box-sizing: border-box;
    font-family: consolas;

}

section.content h2{
    margin: 0;
    padding: 0;
    font-size: 4em;

}

section.content p{
    font-size: 1.2em;
}